.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 999;
}
.backGround {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  height: 100%;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* background-color: red; */
  box-sizing: border-box;
  pointer-events: auto;
}
.container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: end;
}
.header img {
  cursor: pointer;
}
.header img:active {
  transform: scale(0.95);
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 20px;
  justify-content: space-between;
}
.textDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: #171719;
  font-size: 20px;
  font-weight: 600;
}
.subTitle {
  color: #37383c9c;
  font-size: 14px;
  font-weight: 500;
}
.code {
  font-size: 11px;
  font-weight: 600;
  color: #37383c9c;
}
