.container {
  display: flex;
  align-items: center;
  background-color: rgba(89, 33, 0, 0.8);
  border-radius: 10px;
  padding: 15px 10px 15px 30px;
}
.container span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #eaebec;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}
