.container {
  /* background-color: blue; */
  positionin: absolute;
  bottom: 0;
  height: 90px;
  display: flex;
  padding: 15px 30px 0 30px;
  justify-content: space-between;
  border-top: 1px solid #e6e7eb;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item img {
  width: 24px;
  height: 24px;
}
.item span {
  color: #989ba2;
  font-size: 13px;
  font-weight: 500;
}
.selected span {
  color: #592100;
}
