.arrow {
  display: flex;
  align-items: center;
}
.arrow img {
  cursor: pointer;
}
.arrow img:active {
  transform: scale(0.95);
}
.arrow span {
  margin-left: 10px;
}
.textDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}
.title {
  color: #171719;
  font-size: 18px;
  font-weight: 600;
}
.subTitle {
  font-size: 14px;
  font-weight: 500;
  color: #37383c9c;
}
.titleCard {
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  margin-top: 30px;
}
.titleCardHeader {
  display: flex;
  align-items: center;
}
.titleCardHeader div {
  background-color: #ffffff;
  border-radius: 10px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCardHeader img {
  width: 16px;
  height: 16px;
}
.titleCardHeader span {
  font-size: 17px;
  font-weight: 600;
  color: #2e2f33e0;
  margin-left: 10px;
}
.titleCardBody {
  font-size: 13px;
  font-weight: 500;
  color: #37383c9c;
  margin-top: 20px;
  white-space: pre-line;
  line-height: 1.5;
}
.requestInfo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.requestInfo span {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.requestInfo textarea {
  border: 2px #e6e7eb solid;
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  color: #37383c9c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.requestInfo textarea::placeholder {
  color: #37383c9c;
  font-size: 14px;
  font-weight: 400;
}
.requestInfo button {
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.disabled {
  background-color: #989ba2;
}
.active {
  background-color: #913500;
  cursor: pointer;
}
.active:active {
  transform: scale(0.98);
}
